<h2 class="text-center my-4 header-title">
  <i class="fas fa-users"></i> Liste des Utilisateurs
</h2>

<div class="container custom-container">
  <table class="table table-striped table-hover">
    <thead class="custom-thead">
      <tr>
        <th><i class="fas fa-user"></i> First Name</th>
        <th><i class="fas fa-user"></i> Last Name</th>
        <th><i class="fas fa-envelope"></i> Email Id</th>
        <th><i class="fas fa-lock"></i> Password</th>
        <th><i class="fas fa-lock"></i> Role</th>
        <th><i class="fas fa-cogs"></i> Opérations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let utilisateur of utilisateurs">
        <td>{{ utilisateur.firstName }}</td>
        <td>{{ utilisateur.lastName }}</td>
        <td>{{ utilisateur.emailId }}</td>
        <td>{{ utilisateur.password }}</td>
        <td>{{ utilisateur.Role }}</td>
        <td>
          <button (click)="updateUtilisateur(utilisateur.id)" class="btn btn-sm btn-custom-info"><i class="fas fa-edit"></i> Modifier</button>
          <button (click)="deleteUtilisateur(utilisateur.id)" class="btn btn-sm btn-custom-danger"><i class="fas fa-trash-alt"></i> Supprimer</button>
          <button (click)="detailsUtilisateur(utilisateur.id)" class="btn btn-sm btn-custom-primary"><i class="fas fa-info-circle"></i> Détails</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
