<div class="container mt-5">
    <div class="card custom-card">
      <h3 class="text-center mb-4 card-title">Voir détails de l'utilisateur</h3>
      <div class="user-details">
        <div class="detail-item">
          <label class="detail-label"><b>First Name</b></label>
          <span class="detail-value">{{ utilisateur.firstName }}</span>
        </div>
        <div class="detail-item">
          <label class="detail-label"><b>Last Name</b></label>
          <span class="detail-value">{{ utilisateur.lastName }}</span>
        </div>
        <div class="detail-item">
          <label class="detail-label"><b>Email</b></label>
          <span class="detail-value">{{ utilisateur.emailId }}</span>
        </div>
        <div class="detail-item">
          <label class="detail-label"><b>Password</b></label>
          <span class="detail-value">{{ utilisateur.password }}</span>
        </div>
        <div class="detail-item">
            <label class="detail-label"><b>Role</b></label>
            <span class="detail-value">{{ utilisateur.Role }}</span>
          </div>
      </div>
    </div>
  </div>
  